@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.wrapper {
    background: linear-gradient(130deg, rgba(0,3,52,1) 0%, rgba(5,7,74,1) 45%, rgba(56,41,172,1) 68%, rgba(93,45,195,1) 78%, rgba(176,9,214,1) 100%);
    color: #fff;
    width: 100%;
    height: auto;
}

.container {
    width: 77%;
    margin: 0 auto;
}

header {
    padding: 1rem 0 1rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 1.9rem;
}

header .logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

header nav {
    width: 55%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    background: rgb(230, 111, 0);
    width: 35px;
    height: 4px;
    border-radius: 10px;
    position: relative;
    top: 5px;
    left: -10px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 4px solid rgb(230, 111, 0);
}

header nav ul li.btn a {
    background-color: rgb(230, 111, 0);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background-color: rgb(191, 0, 0);
}

.menu-icon {
    display: none;
    cursor: pointer;
    height: auto;
    position: relative;
    margin: auto;
    width: max-content;
}

.nav-ul-menu {
    display: none;
    flex-direction: column;
   
    width: 75%;
    margin: 0 auto;
}

.nav-ul-menu li{
    padding: 0.5rem;
    list-style: none;
}

.nav-ul-menu li a{
    color: #fff;
    
}

.nav-ul li a svg{
    position: relative;
    top: 0.25rem;
}

.nav-ul-menu li a svg{
    position: relative;
    top: 0.25rem;
}

.nav-ul-menu.active {
    display: flex;
}

@media(max-width: 1200px) {
    .menu-icon {
        display: block;
    }

    .nav-ul {
        display: none;
    }

    .nav-ul-menu {
        display: none;
    }

    .nav-ul-menu.active {
        display: flex;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    header nav ul li a {
        display: block;
        padding: 1rem 0;
    }
}

.hero{
    padding-bottom: 2rem;
}

.hero--info{
    width: 50%;
    padding: 4rem 0;
}

.hero--info h1{
    font-size: 1.5rem;
}

.button--info{
    background-color: rgb(230, 111, 0);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: all 500ms ease;
    margin: 1.5rem;
    font-size: 1rem;
}

.button--info a{
    color: #fff;
}

.button--info:hover{
    transform: scale(1.1);
}

.suntaksis{
    background-color: black;
    width: max-content;
    border: gray solid 2px;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 3rem;
}

.w-3com{
   background-color: #ccc; 
   width: 100%;
   border-radius: 10px;
   border: 1px solid black;
}

.suntaksis h2{
    padding-bottom: 0.5rem;
}

.suntaksis h3{
    padding: 1rem 1rem;
    color: #000000;
}

.pre-code{
    padding:0 1rem 1rem 1rem;
}

pre {
    background-color: #000000;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

code{
    font-size: 0.97rem;
    padding: 0rem;
}

.tag {
     color: #0000FF; 
}

.attribute-name { 
    color: #e00000; 
}

.attribute-value { 
    color: #008000; 
}

.text { 
    color: #ffffff; 
}

.p-h3{
    width: 30%;
    margin-left: 0.3rem;
    text-align: center;
    margin: auto;
    padding-top: 3rem;
}

.p-h3-2{
    width: 30%;
    margin-left: 0.3rem;
    text-align: center;
    margin: auto;
    padding-right:2rem ;
}

.w-2block{
    display: inline-block;
}

.flex-block-1{
    display: flex;
}

.flex-block-2{
    display: flex;
}

.yellow-1{
    color: yellow;
}

.green-1{
    color: #76ff76;
}

.blue-1{
    color: aqua;
}

.violet{
    color: violet;
}

@media(max-width:1200px){
    .hero--info{
        width: 100%;
        padding: 1.5rem 0;
    }
    .suntaksis{
        display: none;
    }
    .p-h3{
        width: 100%;
        padding-top:0 ;
        text-align: left;
    }
    .p-h3 h3{
        font-size: 1rem;
    }
    .p-h3-2{
        width: 100%;
        padding-top:1rem ;
        text-align: left;
    }
    .p-h3-2 h3{
        font-size: 1rem;
    }
}
